<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BASE_HOST</key>
	<string>$(BASE_HOST)</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>FromBackInTime needs the microphone to record your voice messages.</string>
	<key>NSCameraUsageDescription</key>
	<string>FromBackInTime needs the camera to record your video messages.</string>
	<key>UIAppFonts</key>
	<array/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.frombackintime.app.auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>frombackintime</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
